@import '../common/color';

.video-comment {
  .video-display {
    video {
      height: auto;
      width: 100%;
    }
  }

  .comment {
    display: inline-block;
    width: calc(100% - 300px);
    margin-left: 40px;
  }

  md-list.comment-list {
    .dark-background {
      background-color: $hover-background-color;
    }

    .template-divider {
      margin-top: 20px;
    }

    md-list-item {
      display: block;

      &.dark-background {
        background-color: $hover-background-color;
      }

      .question-comment {
        display: block;
        height: 100%;
        width: 100%;
      }

      .critique-container {
        display: flex;
        justify-content: space-between;
        max-width: 500px;
        width: 70%;

        .critique {
          border: 1px solid gray;
          font-size: 13px;
          max-width: 200px;
          padding: 4px;
        }
      }

      .score-slider {
        max-width: 200px;
        width: 70%;
      }
    }
  }

  .action-buttons {
    margin-top: 20px;
  }

  .assessments-drawer {
    margin-bottom: 10px;
  }

  .score-table {
    width: 100%;
    
    & , th, td {
        border: 1px solid grey;
    }

    .score-column {
      width: 60px;
    }

    .content-cell {
      text-align: center;
    }
  }
}