<div class="video-comment">
  <md-card>
    <div class="video-display">
      <video class="video-js" controls preload="auto" data-setup='{}'>
        <source src="https://video-assessment.appspot.com/serve?blobkey={{blobkey}}" type="video/mp4">
      </video>
    </div>
  </md-card>

  <md-card>
    <md-card-title>Summary／Suggestions</md-card-title>
    <md-divider></md-divider>
    <md-card-content>
      <md-spinner *ngIf="loadingTemplate || loadingAssessments"></md-spinner>
      <md-list *ngIf="!(loadingTemplate || loadingAssessments)" class="comment-list">
        <md-list-item *ngFor="let question of questions; let i = index" [ngClass]="{'dark-background': i % 2 == 1}">
          <div class="question-comment">
            <div class="question">{{i + 1}}. {{question}}</div>
            <ul *ngIf="assessments.has(i)">
              <li *ngFor="let assessment of assessments.get(i)">
                {{assessment.comment}} (score:{{assessment.score}})
              </li>
            </ul>
            <md-input-container class="comment">
              <textarea mdInput [(ngModel)]="comments[i]"></textarea>
            </md-input-container>
            <span>Score:</span>
            <md-slider class="score-slider" 
                       [min]="0" 
                       [max]="10" 
                       tickInterval="1" 
                       #score 
                       aria-label="set a score"
                       [(ngModel)]="scores[i]">
            </md-slider>
            {{score.value}}
          </div>
        </md-list-item>
      </md-list>
      <div class="action-buttons">
        <button md-raised-button
                class="submit"
                color="primary"
                [disabled]="submitting"
                (click)="submit()"
                md-button>Submit</button>
      </div>
    </md-card-content>
  </md-card>
</div>