<div class="video-comment">
  <md-card *ngIf="blobkey">
    <div class="video-display">
      <video class="video-js" controls preload="auto" data-setup='{}'>
        <source src="https://video-assessment.appspot.com/serve?blobkey={{blobkey}}" type="video/mp4">
      </video>
    </div>
  </md-card>

  <md-card>
    <md-card-title>Summary／Suggestions</md-card-title>
    <md-input-container class="comment">
      <textarea mdInput [(ngModel)]="comments[0]"></textarea>
    </md-input-container>
    <ul *ngIf="assessments.has(0)">
      <li *ngFor="let assessment of assessments.get(0)">
        {{assessment.comment}}
      </li>
    </ul>
    <md-divider></md-divider>
    <md-card-content>
      <md-spinner *ngIf="loadingTemplate || loadingAssessments"></md-spinner>
      <md-list *ngIf="!(loadingTemplate || loadingAssessments)" class="comment-list">
        <h3>1. Rational</h3>
        <md-list-item *ngFor="let question of questions.slice(0, 5); let i = index">
          <div class="question-comment">
            <b>({{i + 1}})</b>
            <md-slider class="score-slider" 
                       [min]="0" 
                       [max]="10" 
                       tickInterval="1" 
                       #score 
                       aria-label="set a score"
                       invert
                       [(ngModel)]="scores[i]">
            </md-slider>
            {{score.value}}
            <div class="critique-container">
              <span class="critique">{{getPositive(question)}}</span>
              <span class="critique">{{getNegative(question)}}</span>
            </div>
            <ul *ngIf="assessments.has(i)">
              <li *ngFor="let assessment of assessments.get(i)">
                Received score: {{assessment.score}}
              </li>
            </ul>
          </div>
        </md-list-item>
        <md-divider></md-divider>
        <h3>2. Intuitive</h3>
        <md-list-item *ngFor="let question of questions.slice(5, 10); let i = index">
          <div class="question-comment">
            <b>({{i + 1}})</b>
            <md-slider class="score-slider" 
                       [min]="0" 
                       [max]="10" 
                       tickInterval="1" 
                       #score 
                       aria-label="set a score"
                       invert
                       [(ngModel)]="scores[i + 5]">
            </md-slider>
            {{score.value}}
            <div class="critique-container">
              <span class="critique">{{getPositive(question)}}</span>
              <span class="critique">{{getNegative(question)}}</span>
            </div>
            <ul *ngIf="assessments.has(i + 5)">
              <li *ngFor="let assessment of assessments.get(i + 5)">
                Received score: {{assessment.score}}
              </li>
            </ul>
          </div>
        </md-list-item>
        <md-divider></md-divider>
        <h3>3. Personal</h3>
        <md-list-item *ngFor="let question of questions.slice(10, 15); let i = index">
          <div class="question-comment">
            <b>({{i + 1}})</b>
            <md-slider class="score-slider" 
                       [min]="0" 
                       [max]="10" 
                       tickInterval="1" 
                       #score 
                       aria-label="set a score"
                       invert
                       [(ngModel)]="scores[i + 10]">
            </md-slider>
            {{score.value}}
            <div class="critique-container">
              <span class="critique">{{getPositive(question)}}</span>
              <span class="critique">{{getNegative(question)}}</span>
            </div>
            <ul *ngIf="assessments.has(i + 10)">
              <li *ngFor="let assessment of assessments.get(i + 10)">
                Received score: {{assessment.score}}
              </li>
            </ul>
          </div>
        </md-list-item>
      </md-list>
      <div class="action-buttons">
        <button md-raised-button
                class="submit"
                color="primary"
                [disabled]="submitting || disableSubmit"
                (click)="submit()"
                md-button>Submit</button>
      </div>
    </md-card-content>
  </md-card>
</div>