@import '../common/color';

.video-comment {
  .video-display {
    video {
      height: auto;
      width: 100%;
    }
  }

  .comment {
    display: block;
  }

  md-list.comment-list {
    .dark-background {
      background-color: $hover-background-color;
    }

    md-list-item {
      display: block;

      &.dark-background {
        background-color: $hover-background-color;
      }

      .question-comment {
        display: block;
        height: 100%;
        padding-top: 16px;
        width: 100%;
      }

      .critique-container {
        display: flex;
        justify-content: space-between;
        max-width: 500px;
        width: 70%;

        .critique {
          border: 1px solid gray;
          font-size: 13px;
          max-width: 200px;
          padding: 4px;
        }
      }

      .score-slider {
        max-width: 400px;
        width: 70%;
      }
    }
  }

  .action-buttons {
    margin-top: 20px;
  }
}