@import '../common/color';

.video-comment {
  .video-display {
    video {
      height: auto;
      width: 100%;
    }
  }

  md-list.comment-list {
    .dark-background {
      background-color: $hover-background-color;
    }

    md-list-item {
      display: block;

      &.dark-background {
        background-color: $hover-background-color;
      }

      .question-comment {
        display: block;
        height: 100%;
        padding-top: 16px;
        width: 100%;
      }

      .question {
        margin-left: 26px;
        margin-top: -18px;
        width: 100%;
      }

      .comment {
        display: block;
      }

      .score-slider {
        width: 70%;
      }
    }
  }

  .action-buttons {
    margin-top: 20px;
  }
}