<div class="video-assessment-sidenav">
  <button class="sidenav-button" md-raised-button md-tooltip="My Videos" 
      (click)="gotoHome()"
      tooltip-position="below">
    <i class="material-icons">video_library</i>
  </button>

  <button class="sidenav-button" md-raised-button (click)="gotoSupported()"
      md-tooltip="For My Review" tooltip-position="below">
    <i class="material-icons">video_label</i>
  </button>

  <button class="sidenav-button" md-raised-button (click)="gotoGroups()"
      md-tooltip="My Groups" tooltip-position="below">
    <i class="material-icons">supervisor_account</i>
  </button>

  <button class="sidenav-button" md-raised-button (click)="gotoProfile()"
      md-tooltip="My Profile" tooltip-position="below">
    <i class="material-icons">account_circle</i>
  </button>

  <button class="sidenav-button" md-raised-button (click)="gotoFeedback()"
      md-tooltip="Send Feedback" tooltip-position="below">
    <i class="material-icons">feedback</i>
  </button>
</div>