<div class="video-assessment-sidenav">
  <button class="sidenav-button" md-raised-button md-tooltip="Home" 
      (click)="gotoHome()"
      tooltip-position="below">
    <i class="material-icons">home</i>
  </button>

  <button class="sidenav-button" md-raised-button (click)="gotoSupported()"
      md-tooltip="My supported videos" tooltip-position="below">
    <i class="material-icons">assistant</i>
  </button>

  <button class="sidenav-button" md-raised-button (click)="gotoGroups()"
      md-tooltip="My groups" tooltip-position="below">
    <i class="material-icons">supervisor_account</i>
  </button>
</div>