<md-card class="demo">
  <md-card-title>
      Score: 
      <span *ngIf="scoreLoading == 0" class="unknown">Unknown</span>
      <span *ngIf="scoreLoading == 1" class="computing">Computing...</span>
      <span *ngIf="scoreLoading == 2" class="score">{{score}}</span>
  </md-card-title>
  <md-card-content>
    <ack-webcam [(ref)]="webcam" [options]="options" (onSuccess)="onCamSuccess($event)" (onError)="onCamError($event)"></ack-webcam>
    <div>
      <md-input-container class="record-time">
        <input mdInput placeholder="Record Time (s)" [(ngModel)]="totalCount">
      </md-input-container>
      <button class="record-button" md-raised-button color="primary" (click)="startRecord()" [disabled]="isRecording">Start Recording</button>
      <span *ngIf="isRecording">{{count}} s</span>
    </div>
  </md-card-content>
</md-card>
