@import '../common/color';

.group-topics,
.group-members {
  md-expansion-panel {
    display: block;
    
    &.mat-list-item {
      align-items: flex-start;
      border-bottom: 1px solid gray;
      height: 100%;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    &:hover,
    &:focus {
      background-color: $hover-background-color;
      cursor: pointer;
    }

    .item-content {
      padding-left: 0;

      .option {
        display: inline-block;
        line-height: 40px;
        padding-left: 24px;
      }
    }
  }

  .action-buttons {
    float: right;
    height: 40px;
  }

  .delete-button {
    background-color: $button-background-color;
    vertical-align: top;
  }

  .video-item {
    margin-bottom: 10px;
  }

  .video-title {
    color: blue;
    text-decoration: underline;
  }
}