@import '../common/color';

md-list.group-topics,
md-list.group-members {
  md-list-item {
    display: block;
    
    &.mat-list-item {
      align-items: flex-start;
      border-bottom: 1px solid gray;
      height: 100%;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    &:hover,
    &:focus {
      background-color: $hover-background-color;
      cursor: pointer;
    }

    video-assessment-group-item {
      width: 100%;
    }
  }
}