<md-card>
    <md-card-title>Topics</md-card-title>
    <div *ngIf="isOwner">
      <md-input-container>
        <input mdInput placeholder="New Topic" #newTopic>
      </md-input-container>
      <button md-raised-button color="primary" class="add-button" (click)="createTopic(newTopic.value); newTopic.value = '';">Create Topic</button>
    </div>
    <md-divider></md-divider>
    <md-card-content>
      <md-spinner *ngIf="loadingTopics || checkingOwnership"></md-spinner>
      <md-list class="group-topics" *ngIf="!loadingTopics && !checkingOwnership">
        <md-list-item *ngFor="let topic of topics" [@fadeInOut]="'in'">
          <div class="item-content">
            <md-radio-button class="option" name="topicGroup" value="topic" (click)="selectTopic(topic)">{{topic.topic}}</md-radio-button>
            <div class="action-buttons" *ngIf="isOwner">
              <button md-icon-button class="delete-button" (click)=deleteTopic(topic.id)>
                <md-icon class="md-24">delete</md-icon>
              </button>
            </div>
          </div>
        </md-list-item>
      </md-list>
    </md-card-content>
</md-card>

<md-card>
    <md-card-title>Members</md-card-title>
    <div *ngIf="isOwner">
      <md-input-container>
        <input mdInput type="email" placeholder="Member Email" #newMember>
      </md-input-container>
      <button md-raised-button color="primary" class="add-button" (click)="addMember(newMember.value); newMember.value = '';">Add Member</button>
    </div>
    <md-divider></md-divider>
    <md-card-content>
      <md-spinner *ngIf="loadingMembers || checkingOwnership"></md-spinner>
      <md-list class="group-members" *ngIf="!loadingMembers && !checkingOwnership">
        <md-list-item *ngFor="let member of members" [@fadeInOut]="'in'">
          <div class="item-content">
            <md-radio-button class="option" name="memberGroup" value="member" (click)="selectMember(member)">{{member}}</md-radio-button>
            <div class="action-buttons" *ngIf="isOwner">
              <button md-icon-button class="delete-button" (click)=deleteMember(member)>
                <md-icon class="md-24">delete</md-icon>
              </button>
            </div>
          </div>
        </md-list-item>
      </md-list>
    </md-card-content>
</md-card>

<md-card *ngIf="isOwner">
  <md-card-title>Upload Video for Selected Topic and Member</md-card-title>
  <md-card-content>
    <video-assessment-upload 
        [groupId]="groupId"
        [topicId]="selectedTopic ? selectedTopic.id : -1"
        [member]="selectedMember"
        [confirmation]="getUploadVideoConfirmation()"
        [shouldDisableUpload]="!(selectedTopic && selectedMember)"
        (videoUploaded)="onVideoUploaded($event)">
    </video-assessment-upload>
  </md-card-content>
</md-card>

<video-assessment-video-comment
    [groupId]="groupId"
    [topicId]="selectedTopic ? selectedTopic.id : -1"
    [member]="selectedMember"
    [confirmation]="getSubmitResponsesConfirmation()"
    [disableSubmit]="!(selectedTopic && selectedMember)"
    (responsesSubmitted)="onResponsesSubmitted($event)">
</video-assessment-video-comment>
