/* You can add global styles to this file, and also import other style files */

body {
  background-color: #F5F5F5;
  margin: 0;
}

md-card {
  margin: 20px;
}

.comment {
  width: 100%;
}

md-sidenav {
  min-height: 200px;
}

md-list.video-list,
md-list.group-list {
  padding-top: 0;
}

.mat-list.comment-list .mat-list-item .mat-list-item-content {
  height: 100%;
}