<form enctype="multipart/form-data" class="video-assessment-upload">
  <md-input-container>
    <input mdInput name="title" placeholder="video name" [(ngModel)]="title">
  </md-input-container>
  <input name="file" type="file" accept=".mp4" (change)="onFileChange($event)">
  <div>
    <button type="submit"
            class="upload-button"
            md-raised-button
            color="primary"
            (click)="submit($event)"
            [disabled]="uploading || !isFileValid || shouldDisableUpload">Upload</button>
    <span class="warning" *ngIf="isLargeFile"> Please upload only mp4 file with size less than 50M </span>
    <md-progress-bar *ngIf="uploading" class="upload-progress-bar" mode="determinate" [value]="progress">
    </md-progress-bar>
    <div *ngIf="uploading" class="upload-progress-text">Uploading Progress: {{progress}}%</div>
  </div>
</form>