<form enctype="multipart/form-data" class="video-assessment-upload">
  <md-input-container>
    <input mdInput name="title" placeholder="video name" [(ngModel)]="title">
  </md-input-container>
  <input name="file" type="file" accept="video/*" (change)="onFileChange($event)">
  <div>
    <button type="submit"
            class="upload-button"
            md-raised-button
            color="primary"
            (click)="submit($event)"
            [disabled]="disable">Upload</button>
    <md-progress-bar *ngIf="disable" class="upload-progress-bar" mode="determinate" [value]="progress">
    </md-progress-bar>
    <div *ngIf="disable" class="upload-progress-text">Uploading Progress: {{progress}}%</div>
  </div>
</form>