.video-assessment-upload {
  .upload-button {
  }

  .upload-progress-bar {
    margin-top: 20px;
    width: 200px;
  }

  .upload-progress-text {
    margin-top: 10px;
  }

  .warning {
    color: red;
  }
}