<form enctype="multipart/form-data" class="video-assessment-upload">
  <md-input-container>
    <input mdInput name="title" placeholder="video name" [(ngModel)]="title">
  </md-input-container>
  <md-radio-group [(ngModel)]="isLive" [ngModelOptions]="{standalone: true}">
    <md-radio-button [value]=true>Live Record</md-radio-button>
    <md-radio-button [value]=false>From Disk</md-radio-button>
  </md-radio-group>
  <div *ngIf="!isLive">
    <input name="file" type="file" accept=".mp4" (change)="onFileChange($event)">
  </div>
  <div *ngIf="isLive">
    <ack-webcam class="webcam" [(ref)]="webcam" [options]="options" (onSuccess)="onCamSuccess($event)" (onError)="onCamError($event)"></ack-webcam>
    <div class="record-action">
      <button class="action-button" [disabled]="!camReady || uploading" md-raised-button *ngIf="!isRecording" color="primary" (click)="startRecord()">Start Recording</button>
      <button class="action-button" [disabled]="!camReady || uploading" md-raised-button *ngIf="isRecording" color="primary" (click)="stopRecord()">Stop Recording</button>
      <span *ngIf="!camReady" class="initialize-cam">Initializing Webcam...</span>      
      <span *ngIf="readyToUpload()" class="upload-ready">Live video ready to upload.</span>      
    </div>
  </div>
  <div *ngIf="!template" class="template-select">
    <md-spinner *ngIf="loadingTemplates"></md-spinner>
    <span class="template-label" *ngIf="!loadingTemplates">Select video type:</span>
    <md-select class="select-template" *ngIf="!loadingTemplates" [(ngModel)]="selectedTemplate" name="selectedTemplate">
      <md-option *ngFor="let template of templates" [value]="template">{{ template.name }}</md-option>
    </md-select>
  </div>
  <div>
    <button type="submit"
            class="upload-button"
            md-raised-button
            color="primary"
            (click)="submit($event)"
            [disabled]="!readyToUpload()">Upload</button>
    <span class="warning" *ngIf="isLargeFile"> Please upload only mp4 file with size less than 50M </span>
    <md-progress-bar *ngIf="uploading" class="upload-progress-bar" mode="determinate" [value]="progress">
    </md-progress-bar>
    <div *ngIf="uploading" class="upload-progress-text">Uploading Progress: {{progress}}%</div>
  </div>
</form>