.video-assessment-upload {
  .upload-button {
  }

  .upload-progress-bar {
    margin-top: 20px;
    width: 200px;
  }

  .upload-progress-text {
    margin-top: 10px;
  }

  .warning {
    color: red;
  }

  .template-select {
    margin-bottom: 20px;

    .template-label {
      margin-right: 10px;
      font-size: 16px;
      vertical-align: bottom;
    }

    .select-template {
      min-width: 200px;
    }
  }

  .initialize-cam {
    color: red;
  }

  .upload-ready {
    color: green;
  }

  .record-action {
    margin-bottom: 10px;
  }
}