@import '../common/color';

.video-detail {
  width: 100%;

  a {
    color: blue;
    line-height: 40px;
    text-decoration: underline;
  }

  .action-buttons {
    float: right;
    height: 40px;
  }

  .supporter-button {
    margin-right: 20px;
    vertical-align: bottom;
  }

  .delete-button {
    background-color: $button-background-color;
  }
}