<md-sidenav-container class="video-assessment-app">
  <md-sidenav #sidenav mode="side" class="app-sidenav">
    <video-assessment-sidenav></video-assessment-sidenav>
  </md-sidenav>
  <md-toolbar color="primary">
    <button md-button (click)="sidenav.open()" *ngIf="!sidenav.opened">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button>
    <button md-button (click)="sidenav.close()" *ngIf="sidenav.opened">
      <i class="material-icons">keyboard_arrow_left</i>
    </button>
    <span>Talk Me Up</span>
    <span class="fill-in-space"></span>
    <button md-button *ngIf="isSignedIn()" (click)="signOut()">Sign Out</button>
  </md-toolbar>
  <router-outlet></router-outlet>
</md-sidenav-container>